<h1>Welcome to Married Women Chances Of Prediction!</h1>
<form action="/result" method="post" target="_parent">
    <label for="mrate">MarriageRate:</label>
    <input type="number" name="MarRate" ><br>
    <label for="age">AGE:</label>
    <input type="number" name="age"><br>
    <label for="my">Married Years:</label>
    <input type="number" name="my"><br>
    <label for="cldrn">Number of Children:</label>
    <input type="number" name="cldrn"><br>
    <label for="rlg">Are You Religious</label>
    <input type="number" name="rlg"><br>
    <label for="ed">Education:</label>
    <input type="number" name="ed"><br>
    <label for="occ">Occupation:</label>
    <input type="number" name="occ"><br>
    <label for="occhus">Ocuupation Of Husband:</label>
    <input type="number" name="occhus"><br>
    <input type="submit" value="Submit">

    
</form>